<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hola.css"> 
    <title>Document</title>
</head>
<body>
    <div class="section1">
                
        <div class="img">
                <img src="img/logo-mercado-liebre.svg" alt="">
        <div>
        <!--<div class="input">  
            <input type="search" name="buscarproductos" placeholder="Busca productos"> 
            <i class="fa-solid fa-magnifying-glass" style="background-color: white; padding: 5px ; border-color: black;"></i>
        </div> -->
        <div class="">
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y con tarjeta de crédito</p>
        </div>
    
    </div>   
</body>
</html>




<div class="section1">
                
    <div class="img">
            <img src="img/logo-mercado-liebre.svg" alt="">
    <div>
    <!--<div class="input">  
        <input type="search" name="buscarproductos" placeholder="Busca productos"> 
        <i class="fa-solid fa-magnifying-glass" style="background-color: white; padding: 5px ; border-color: black;"></i>
    </div> -->
    <div class="">
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y con tarjeta de crédito</p>
    </div>

</div>   
