.section1 {
    display: flex;
    flex-direction: row;
    
}

.section1 img {
    display: flex;
    background-color: aqua;
    
}

.section1 input {
    display: flex;
    background-color: rgb(122, 161, 161);
    
}